dist: focal
language: python
python:
  - "3.9"
env:
  global:
    - COVERALLS_REPO_TOKEN=$COVERALLS_REPO_TOKEN
    - COVERALLS_SERVICE_NAME=coveralls-python
# Install dependencies
install:
  - pip install -r mysite/requirements.txt
# Change directory
before_script:
  - cd mysite
  - python manage.py migrate
# Run format and lint checks
script:
  - echo "Travis Branch is $TRAVIS_BRANCH"
  - echo "Travis Commit is $TRAVIS_COMMIT"
  - echo "Service name is $COVERALLS_SERVICE_NAME"
  - black --check .
  - flake8 .
  - coverage run manage.py test
after_success:
  - coveralls --verbose
deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACS_KEY
  secret_access_key: $AWS_SCRT_KEY
  region: us-east-1
  app: mysite
  env: def-env
  bucket_name: 'elasticbeanstalk-us-east-1-897722690729'
  on:
    all_branches: true
#    repo: allen505/swe1-app
#    branches:
#      only:
#        - master