dist: focal
language: python
python:
  - "3.9"
# Install dependencies
install:
  - pip install -r mysite/requirements.txt
# Change directory
before_script: cd mysite
# Run format and lint checks
script:
  - black --check .
  - flake8 .
  - coverage run manage.py test
  - coverage report
deploy:
  provider: elasticbeanstalk
  access_key_id:
    secure: gjFBt+BZ6SIHAYUrvkqBKE2NOhl4P/q9N0PaygXkw6JrRap3tPBLOOoIKf7Om9OG35uG0TcKLw7FLpb53zoM2N6u73/dt3jDWVSJfykKUAo7SWYDoTUMpx74NGJI0oDdBkrAcDVAY5xQxLX+b1Bs59P74RKHlgV/763R7nH51B3VOjBizIyJWon85ToMvsxe+zmMEIP5orWUtT54A1z15VSSkQh4gAvU1XFrNEO1nhIclyRKPMv5V8yGlpZPiHOplh2djXRnYHNNBMESWZMhsy1s9bjTu6u+oeSHYk1q2uxzzqL08VSZLv9TFvPxKSzkPw41CN1sc26swPhbOF5xw74yzoF8y36Oz5cg39OF5HrMvi5L3ZBomfvV8lW4ctE1fdiPdFDb4kdQkmxZ0w8q1Zh15hnZ4BKegyHzXoae2ACClVY+MwQFNmbvl5fQlId7xtJZKjEM4l6EhmMZLr+8m/Dq/S9svHlw9UNaDRHQ5YZr76/CzUkL3u+2jx234fRpnDCsrFhaDNo5jHhYTLm2/F/zdFII91x19ZysA9HEUJEmEwsinf68P/vpN5elkQgf3Jw9YKwQ9W4z7JfIIcoPSw+LqRn/D8hY02xgsL7PruI5hHSClNa5/xoXAKKonL+Iwl64NKkfQVyVdRn1wQmwv0RH1OZuAC1k0cShwX+2m7w=
  secret_access_key:
    secure: BvATkYCfYTwXAGa365YlBe7t0FZrVg2q84z5p+NB4M9jNC/+8wPAEGpFh7glG1NyAUILH8RqLGALxsxn8PAY+rNSZwQj9oleqkOK0XZ+WwuAXUBIjuwj8zHF1NTnx0n2pPqTt7787tDSTi13e+PgeTRPYuvt06g9PmdISkL9KnuXnAlRKY66qAxXfVji98dLNH1PWHvHnGTLxcJXyN30PlBd9PV9Vxa92MvpfbWe08svudwfvYlsRUYq/5botIEhLt25m+E6ncsb2LI7k3d0daRZxOoqAWxGuP9JSRtPKVA0WtsAwMl0g2SCsrba5NLDIvbptQyuQAtJ5Z1iBZKQnzGr2BnWSUX+Er6Q/nMeJHZotnJEpuGpos5sByndNjYXH37cHN5hbZV+0ddhgHZFscfjzDJmzymuMLNMo/1cIpdAhTqkB1JiWxHEvQ815pkVfDpYtLJyT92eF7g9t4jcz7uL1/ery5Njj+mUu2aprBOyFYiJxcsG8p4JlEN5sfX2+JDHE6w6hCvFO6tkmsuMDjIQDsMMXLlhIme6Ey8cDUQZSIiSPWr+Uv2r08FF0q0lY22vnQvngqdYDDcDV2C+5Y0AOvnqP0z9Esqh0pqaqkNv+JffaaxVwRnQlf3A77jy6OOxnVCkce4Nr5n/v4JwwOVpI/vwrDsO9W26Icvyx1w=
  region: us-east-1
  app: mysite
  env: def-env
  bucket_name: 'elasticbeanstalk-us-east-1-897722690729'
  on:
    all_branches: true
#    repo: allen505/swe1-app
#    branches:
#      only:
#        - master
after_script:
  - coveralls