dist: focal
language: python
python:
  - "3.9"
# Install dependencies
install:
  - pip install -r mysite/requirements.txt
# Change directory
before_script: cd mysite
# Run format and lint checks
script:
  - black --check .
  - flake8 .
  - coverage run manage.py test
  - coverage report
deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACS_KEY
  secret_access_key: $AWS_SCRT_KEY
  region: us-east-1
  app: mysite
  env: def-env
  bucket_name: 'elasticbeanstalk-us-east-1-897722690729'
  on:
    all_branches: true
#    repo: allen505/swe1-app
#    branches:
#      only:
#        - master
after_script:
  - coveralls