
dist: focal
language: python
python:
  - "3.9"
# Install dependencies
install:
  - pip install -r mysite/requirements.txt
  - pip install black flake8
# Change directory
before_script: cd mysite
# Run format and lint checks
script:
  - black --check
  - flake8 ./
  - python manage.py test